---
import BaseLayout from '../layouts/BaseLayout.astro';

import Hero from '../components/Hero.astro';
---

<BaseLayout title="About" description="About">
	<div class="stack gap-20">
		<main class="wrapper about" style="grid-template-columns: 0 !important;">
			<Hero
				title="Hello, I'm Anas 👋"
			>
				
			</Hero>

			<section>
				<div class="content">

					    <p>I am a passionate web developer with a robust background in backend development, specializing in Vanilla PHP and the Laravel framework. Over the years, I have successfully led various projects, including:</p>
					
					    <ul>
					        <li><strong>RESTful APIs:</strong> Designed and implemented APIs for seamless communication between different applications.</li>
					        <li><strong>E-commerce Websites:</strong> Developed robust online shopping platforms for a seamless user experience.</li>
					        <li><strong>Interactive Real-time Chats:</strong> Created engaging chat applications to enhance user interaction.</li>
					        <li><strong>Monitoring Websites:</strong> Implemented websites for real-time monitoring and reporting.</li>
					    </ul>
					    <br>
					
					    <p>In addition to my backend expertise, I bring extensive experience in front-end development, where I am adept at working with:</p>
					
					    <ul>
					        <li><strong>HTML/CSS/JS Stack:</strong> Proficient in crafting visually appealing and responsive user interfaces.</li>
					        <li><strong>JavaScript Packages:</strong> Utilized popular packages such as Swiper.js, AOS, HTMX, among others.</li>
					        <li><strong>Single Page Application:</strong> Expertise in building dynamic and responsive SPAs.</li>
					    </ul>
					    <br>

					    <p>Beyond development, I have over four years of experience in SysAdmin, particularly in GNU/Linux Administration. My skills include:</p>
					
					    <ul>
					        <li><strong>Scripting Languages:</strong> Proficient in Python and Bash for automation and system management.</li>
					        <li><strong>Tech Stack Setup:</strong> Experienced in configuring comprehensive tech stacks for optimal performance.</li>
					        <li><strong>Application Layer Protocols:</strong> Well-versed in protocols like FTP, SSH, NFS, and Samba for seamless website deployment.</li>
					    </ul>
					   <br>
					    <p>My familiarity with command-line interfaces extends to tools like the GNU Coreutils, and I am skilled in using various development-related tools, including Git.</p>
					 <br>
					    <p>Explore my <a href="/work/">projects</a> to learn more about my journey and skills. I am excited about contributing to innovative projects and taking on new exciting challenges. Let's build something amazing together!</p>

				</div>
			</section>
			
		</main>

	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
