---
import BaseLayout from '../layouts/BaseLayout.astro';
import Icon from '../components/Icon.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About" description="About">
	<div class="stack gap-20">
		<main class="wrapper" style="grid-template-columns: 0 !important;">
			<Hero>
				
			</Hero>

			<style>
				.dashed {
					position: relative;
					padding-bottom: 25px;
					font-size: 45px;
				}

				.dashed::after {
					content: "";
					position: absolute;
					display: block;
					width: 50px;
					height: 3px;
					background: #c561f6;
					bottom: 16px;
					left: 0;
				}

				#passions {
					display: flex;
				}

				.passion {
					text-decoration: none;
					background: #283044;
					display: flex;
					flex-direction: column;
					width: 20vw;
					height: 200px;
					text-align: center;
					transition: all 0.3s ease-out 0s;
					margin: 25px;
					border-radius: 5px;
				}

				.passion-icon {
					width: 64px;
					height: 64px;
					background: #c561f6;
					border-radius: 5px;
					display: flex;
					transform-style: preserve-3d;
					margin: auto;
					margin-bottom: 30px;

				}

				.passion-icon::before {
					position: absolute;
					content: "";
					left: -8px;
					top: -8px;
					height: 100%;
					width: 100%;
					background: rgba(255, 255, 255, 0.15);
					border-radius: 5px;
					transition: all 0.3s ease-out 0s;
					transform: translateZ(-1px);
				}

				.passion-icon i {
					margin: auto;
					color: white;
				}

				.passion p {
					padding-bottom: 5px;
					text-decoration: none;
					color: white;
				}

				.passion:hover {
					background-color: var(--accent-regular);
					color: white;
				}
				.passion:hover .passion-icon {
					background-color: white;
				}
				.passion:hover .passion-icon i {
					color: var(--accent-regular);
				}
				.mt0 {
					padding-bottom: 15px;
				}

				.pres {
					box-shadow: none !important;
					height: 54px;
					margin-top: 1rem !important;
				}

				h4 {
					margin-top: 21px;
					margin-bottom: 10px;
  					font-size: 26px;
				}

				.icon-container {
					margin-bottom: 20px;
				}

				@media(max-width: 800px) {
					#passions {
						display: block;
					}

					#passions .passion {
						width: calc(100% - 50px)
					}
				}
			</style>

			<section>
				<div class="content">
					<h2 class="dashed">About</h2>


					<h4>Backend</h4>
					<div>
						I am a web developer with a strong background in web backend development, specializing in <b>Vanilla-PHP</b> and the <b>Laravel</b> Framework with 
						<b>Livewire</b>. Additionally, I have proficient knowledge of 
						<b>SQL and NoSQL</b>, which allows me to build robust backends.
						<div style="margin-bottom: 30px;">
							<img class="pres" src="/icons/laravel.png" alt="">
							<img class="pres" src="/icons/livewire.png" alt="">
							<img class="pres" src="/icons/php.png" alt="">


							<img style="margin-left: 15px;" class="pres" src="/icons/mysql.png" alt="">
							<img class="pres" src="/icons/redis.png" alt="">
						</div>
					</div>

					<h4>Frontend</h4>
					<div>
						I also have extensive experience in front-end development, adeptly working with CSS frameworks such as 
						<b>Bootstrap</b> and <b>TailwindCSS</b>. 
						I have worked with a variety of JavaScript packages including <b>Swiper.js, ChartJS, HTMX, and Pusher</b>, among others. 

						<div class="icon-container">
							<img class="pres" src="/icons/HTML.png" alt="">
							<img class="pres" src="/icons/CSS.png" alt="">
							<img class="pres" src="/icons/js.png" alt="">
							<img style="margin-left: 15px;" class="pres" src="/icons/bootstrap.png" alt="">
							<img class="pres" src="/icons/tailwind.png" alt="">

							<img style="margin-left: 15px;" class="pres" src="/icons/npm.png" alt="">
							<img class="pres" src="/icons/swiper.png" alt="">
							<img class="pres" src="/icons/chartjs.png" alt="">
							<img class="pres" src="/icons/htmx.png" alt="">
							<img class="pres" src="/icons/pusher.png" alt="">
						</div>
						My experience with these different technologies has been crucial in completing various projects, such as 
						an <a href="/work/e-commerce/">e-commerce website</a>, 
						a <a href="/work/l3t/">real-time multiplayer tic-tac-toe game</a>, 
						a <a href="/work/phpchat/">dynamic chat app</a>,
						a <a href="/work/phpmonitor/">monitoring website</a>, 
						
						and <a href="http://localhost:4321/work/">more</a>.
					</div>

					<h4 style="margin-top: 35px;">SysAdmin</h4>
					<div>
						Beyond that, I'm also a huge fan of SysAdmin and DevOps. Currently pursuing a Bachelor's degree in Networking, 
						I work with <b>GNU/Linux</b> on a daily basis. Therefore, I am very familiar with different package managers, 
						tools (<b>Docker, git</b>), application layer services (<b>DHCP, HTTP, FTP, SSH, SMB ...</b>), and command line interfaces (<b>bash, zsh ..</b>). 
						<div class="icon-container">
							<img class="pres" src="/icons/docker.png" alt="">
							<img class="pres" src="/icons/git.png" alt="">
							<img class="pres" src="/icons/bash.png" alt="">
						</div>
					</div>
						


				</div>  

					

					
						<h2 id="achievements" class="dashed" style="padding-top: 60px;">Achievements</h2>
						<div id="passions">
						
							<div style="padding-top: 10px">
								<h5>Winner of the 2023/2024 Secu'RT event</h5>
								<div>
									<img src="/assets/achievements/securt.jpg" style="height: 600px;" alt=""> <br>
									An event at the Nord Franche-Comté IUT with a solo CTF competition from 7:00 PM to 11:15 PM among students from different cohorts of the networking and telecommunications Bachelors in Montbéliard, which I won.
								</div>

								<div style="margin-top: 50px;"></div>
									<h5>Owner of three Cisco CCNA certification</h5>
									<div>
										<p style="margin-top: 30px;">
											Networking Essentials Fall - 2023 <br>
											<img src="/assets/achievements/networking.png" style="height: 300px;" alt="">
										</p>

										<p style="margin-top: 30px;">
											Introduction to cybersecurity - 2023 <br>
											<img src="/assets/achievements/cyber.png" style="height: 300px;" alt="">
										</p>
										
										<p style="margin-top: 30px;">
											IoT Fundamentals - 2023 <br>
											<img src="/assets/achievements/iot.png" style="height: 300px;" alt="">
										</p>
								</div>
							</div>

						</div>


						<h2 class="dashed" style="padding-top: 40px;">Passions</h2>
						<div id="passions">
							<a class="passion" href="https://github.com/nullbrunk" target="_blank">
								<div class="passion-icon">
									<i>
										<Icon icon="web" size="1.33em" />
									</i>
								</div>
								<p class="mt0">
									Website development
								</p>
								<div class="mt0"></div>
							</a>
			
							<a class="passion" href="https://github.com/nullbrunk" target="_blank">
								<div class="passion-icon">
									<i>
										<Icon icon="server" size="1.33em" />
									</i>
								</div>
								<p class="mt0">
									SysAdmin / DevOps
								</p>
								<div class="mt0"></div>
							</a>
			
							<a class="passion" href="https://root-me.org/nullbrunk" target="_blank">
								<div class="passion-icon">
									<i>
										<Icon icon="terminal-window" size="1.33em" />
									</i>
								</div>
								<p class="mt0">
									Offensive WebSec
								</p>
								<div class="mt0"></div>
								
							</a>
			
							<a class="passion" href="#achievements">
								<div class="passion-icon">
									<i>
										<Icon icon="list" size="1.33em" />
									</i>
								</div>
								<p class="mt0">
									Reading / Studying
								</p>
								<div class="mt0"></div>
			
							</a>
						</div>
					</div>


					
			</section>

		</main>

	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}

	b {
		background: linear-gradient(315deg, #e7bdfb, #c561f6);
		background-clip: border-box;
		background-clip: border-box;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
