---
import BaseLayout from '../layouts/BaseLayout.astro';

import Hero from '../components/Hero.astro';
---

<BaseLayout title="About" description="About">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
			>
				
			</Hero>

			<section>
				<div class="content">
					<p>
						I'm Anas, a junior developer with a robust background in web backend development, specializing in Vanilla PHP and the Laravel framework, with which I have developed various projects such as RESTful APIs, e-commerce websites, interactive real-time chats, monitoring websites, and more. I possess a proficient command of SQL and NoSQL languages. Additionally, I bring extensive experience in front-end development, adeptly working with the HTML/CSS/JS stack, Bootstrap, and various JavaScript packages like Swiper.js, AOS, HTMX, among others. I also have hands-on expertise in Single Page Application (SPA) development, including the consumption of RESTful APIs with JavaScript and SPA development with LiveWire, to name a few.
					</p><br>
					<p>
						In addition to my development skills, I boast over four years of experience in SysAdmin, particularly in GNU/Linux Administration. This has equipped me with a deep understanding of scripting languages like Python and Bash, along with proficiency in setting up comprehensive tech stacks. I am well-versed in various application layer protocols such as FTP, SSH, NFS, and Samba, which have proven invaluable for seamless website deployment.
					</p><br>
					<p>
						My familiarity with command-line interfaces is extensive, encompassing tools like the GNU Coreutils, and I am adept at utilizing various development-related tools, including Git.

					</p>
				</div>
			</section>
			
		</main>

	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
