---
import BaseLayout from '../layouts/BaseLayout.astro';
import Icon from '../components/Icon.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About" description="About">
	<div class="stack gap-20">
		<main class="wrapper" style="grid-template-columns: 0 !important;">
			<Hero>
				
			</Hero>

			<style>
				p {
					font-weight: 600 !important;
				}
				.dashed {
					position: relative;
					padding-bottom: 25px;
					margin-top: 30px;
					font-size: 45px;
				}

				.dashed::after {
					content: "";
					position: absolute;
					display: block;
					width: 50px;
					height: 3px;
					background: var(--accent-dark);
					bottom: 16px;
					left: 0;
				}

				
				.mt0 {
					padding-bottom: 15px;
				}

				.pres {
					box-shadow: none !important;
					height: 54px;
					margin-top: 1rem !important;
				}

				.icon-container {
					margin-bottom: 20px;
					display: flex;
					gap: 5px;
				}

				.icon-container div {
					display: flex;
					flex-direction: column;
				}

				.icon-container div img {
					height: 70px;
					width: 70px;
					margin: auto;
				}

				.icon-container div p {
					text-align: center;
					font-size: 15px;
					font-weight: 100;
					color: var(--gray-200);
				}

				a {
					text-decoration: none;
				}

				@media(max-width: 800px) {
					#passions {
						display: block;
					}

					#passions .passion {
						width: calc(100% - 50px)
					}
				}

				.about {
					display: flex;
					flex-direction: column;
					gap: 3.5rem;
				}

				img {
					margin-top: 1.5rem;
					border-radius: 1.5rem;
					box-shadow: var(--shadow-md);
				}

				section {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
					color: var(--gray-200);
				}

				.section-title {
					grid-column-start: 1;
					font-size: var(--text-xl);
					color: var(--gray-0);
				}

				.content {
					grid-column: 2 / 4;
				}

				.content :global(a) {
					text-decoration: 1px solid underline transparent;
					text-underline-offset: 0.25em;
					transition: text-decoration-color var(--theme-transition);
				}

				.content :global(a:hover),
				.content :global(a:focus) {
					text-decoration-color: currentColor;
				}

				@media (min-width: 50em) {
					.about {
						display: grid;
						grid-template-columns: 1fr 60% 1fr;
					}

					.about > :global(:first-child) {
						grid-column-start: 2;
					}

					section {
						display: contents;
						font-size: var(--text-lg);
					}
				}

				b {
					font-weight: 600;
				}

				h4 {
					font-weight: 600;
					
					margin-top: 35px;
					margin-bottom: 10px;
  					font-size: 26px;
				}

				.bolder {
					background: var(--accent-dark);
					background-clip: border-box;
					background-clip: border-box;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;

					font-weight: 900;
				}

				.card {
					border: 1px solid rgba(255,255,255, 0.25);
				background-color: rgba(30, 31, 48, 0.30);
				box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
				padding: 10px 25px;
				font-weight: 700;
				border-radius: 20px;
				}
			</style>

			<section>
				<div class="content">
					<h2 class="dashed">About</h2>


					<h4 class="bolder"><a href="#backend">Backend</a></h4>
					<div>
						I am a web developer with a strong background in web backend development, specializing in <b>Vanilla-PHP</b> and the <b>Laravel</b> Framework with 
						<b>Livewire</b>. Consequently, I am well-versed in the PHP ecosystem and have extensive experience with <b>Composer</b>. Additionally, I have proficient knowledge of <b>SQL and NoSQL</b>, which allows me to build robust backends.
					</div>

					<h4 class="bolder"><a href="#frontend">Frontend</a></h4>
					<div>
						I also have extensive experience in front-end development, adeptly working with CSS frameworks such as 
						<b>Bootstrap</b> and <b>Tailwind</b>. 
						I have worked with a variety of JavaScript packages including <b>Swiper.js, ChartJS, HTMX, and Pusher</b>, among others. <br>
						I'm currenly learning <b>React</b>. Therefore, I also have good knowledges of <b>NPM</b> and of the <b>Vite.Js</b> bundler.
					</div>

					<h4 class="bolder"><a href="#devops">DevOps</a></h4>
					<div>
						Beyond that, I'm also a huge fan of SysAdmin and DevOps. Currently pursuing a Bachelor's degree in Networking, 
						I work with <b>GNU/Linux</b> on a daily basis. Therefore, I am very familiar with different package managers, 
						tools (<b>Docker, docker-compose, git</b>), application layer services (<b>HTTP, (S)FTP, SSH, SMB ...</b>), and command line interfaces (<b>bash, zsh ..</b>). 
					</div>
					
				</div>  

				
				<h2 class="dashed" style="padding-top: 60px;">Skills</h2>
				<div id="skills">
					<h4 id="backend">Backend</h4>
					<div class="icon-container" style="margin-bottom: 30px;">
						<a href="https://laravel.com/docs/10.x/" target="_blank">
							<div>
								<img class="pres" src="/icons/laravel.png" alt="">
								<p>Laravel</p>
							</div>
						</a>

						<a href="https://laravel-livewire.com/docs/2.x/quickstart" target="_blank">
							<div>
								<img class="pres" src="/icons/livewire.png" alt="">
								<p>Livewire</p>
							</div>
						</a>

						<a href="https://docs.oracle.com/en/java/javase/22/docs/api/index.html" target="_blank">
							<div>
								<img class="pres" src="/icons/java.svg" alt="">
								<p>Java</p>
							</div>
						</a>

						<a href="https://www.php.net/manual/fr/" target="_blank">
							<div>
								<img class="pres" src="/icons/php.png" alt="">
								<p>PHP</p>
							</div>
						</a>

						<a href="https://dev.mysql.com/doc/" target="_blank">
							<div style="margin-left: 25px;">
								<img class="pres" src="/icons/mysql.png" alt="">
								<p>MySQL</p>
							</div>
						</a>

						<a href="https://redis.io/docs/latest/" target="_blank">
							<div>
								<img class="pres" src="/icons/redis.png" alt="">
								<p>Redis</p>
							</div>
						</a>
					</div>


					<h4 id="frontend" style="margin-top: 35px;">Frontend</h4>
					<div class="icon-container">
						<a target="_blank" href="https://getbootstrap.com/docs/5.3/getting-started/introduction/">
							<div>
								<img class="pres" src="/icons/bootstrap.png" alt="">
								<p>Bootstrap</p>
							</div>
						</a>
						
						<a target="_blank" href="https://tailwindcss.com/docs/installation">
							<div>
								<img class="pres" src="/icons/tailwind.png" alt="">
								<p>Tailwind</p>
							</div>
						</a>

						<a target="_blank" href="https://www.npmjs.com/">
							<div style="margin-left: 20px;">
								<img  class="pres" src="/icons/npm.png" alt="">
								<p>NPM</p>
							</div>						
						</a>
						
						<a target="_blank" href="https://vitejs.dev/guide/">
							<div>
								<img  class="pres" src="/icons/vite.png" alt="">
								<p>Vite</p>
							</div>
						</a>

						<a target="_blank" href="https://developer.mozilla.org/fr/docs/Web/JavaScript">
							<div style="margin-left: 20px;">
								<img class="pres" src="/icons/js.png" alt="">
								<p>JS</p>
							</div>
						</a>

						<a target="_blank" href="https://fr.react.dev/reference/react">
							<div>
								<img class="pres" src="/icons/react.svg" alt="">
								<p>React</p>
							</div>
						</a>

						<a target="_blank" href="https://swiperjs.com/get-started">
							<div style="margin-left: 20px;">
								<img class="pres" src="/icons/swiper.png" alt="">
								<p>Swiper</p>
							</div>
						</a>

						<a target="_blank" href="https://www.chartjs.org/docs/latest/">
							<div>
								<img class="pres" src="/icons/chartjs.png" alt="">
								<p>Chart.JS</p>
							</div>
						</a>

						<a target="_blank" href="https://htmx.org/docs/">
							<div>
								<img class="pres" src="/icons/htmx.png" alt="">
								<p>HTMX</p>
							</div>
						</a>

						<a target="_blank" href="https://pusher.com/docs/">
							<div>
								<img class="pres" src="/icons/pusher.png" alt="">
								<p>Pusher</p>
							</div>
						</a>
					</div>

					<h4 id="devops" style="margin-top: 35px;">DevOps</h4>
					<div>
						<div class="icon-container">
							<a target="_blank" href="https://docs.docker.com/manuals/">
								<div>
									<img class="pres" src="/icons/docker.png" alt="">
									<p>Docker</p>
								</div>
							</a>

							<a target="_blank" href="https://docs.github.com/fr">
								<div>
									<img class="pres" src="/icons/github.svg" alt="">
									<p>Github</p>
								</div>
							</a>

							<a target="_blank" href="https://git-scm.com/docs">
								<div>
									<img class="pres" src="/icons/git.png" alt="">
									<p>Git</p>
								</div>
							</a>

							<a target="_blank" href="https://www.raspberrypi.com/documentation/">
								<div>
									<img class="pres" src="/icons/rpi.svg" alt="">
									<p>RPI</p>
								</div>
							</a>

							<a target="_blank" href="https://docs.python.org/3/">
								<div style="margin-left: 20px;">
									<img class="pres" src="/icons/python.png" alt="">
									<p>Python</p>
								</div>
							</a>

							<a target="_blank" href="https://linux.die.net/man/">
								<div>
									<img class="pres" src="/icons/bash.png" alt="">
									<p>Bash</p>
								</div>
							</a>
							
						</div>
					</div>


					

				</div>
			
					
				<h2 id="achievements" class="dashed" style="padding-top: 60px;">Achievements</h2>
				<div id="passions">
					<div>
						<div></div>
							<h4 style="margin-top: 35px;">Owner of four Cisco CCNA certification</h4>
							<div>
								<table>
									<tbody>
										<tr>
											<td><li><b class="bolder">CCNA</b> Networking Essentials Fall</li></td>
											<td><b>91%</b></td>
										</tr>
										<tr>
											<td><li><b class="bolder">CCNA</b> Introduction to cybersecurity&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li></td>
											<td><b>95%</b></td>
										</tr>
										<tr>
											<td><li><b class="bolder">CCNA</b> IoT Fundamentals</li></td>
											<td><b>84%</b></td>
										</tr>
										<tr>
											<td><li><b class="bolder">CCNAv7</b> M1 Spring</li></td>
											<td><b>79%</b></td>
										</tr>
									</tbody>
								</table>

								<h4>Winner of the 2023/2024 Secu'RT event</h4>
								<div>
									<li>A cybersecurity event at the Nord Franche-Comté IUT with a solo CTF competition which I won.</li>
								</div>

						</div>
					</div>

				</div>		
			</section>
			<div style="margin-bottom: 60px;"></div>
		</main>

	</div>
</BaseLayout>

