---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Backend</h2>
		<p>Development of Restful APIs, Realtime Chats, E-commerce/E-learning/Monitoring websites, Multiplayer games and more</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="web" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Frontend</h2>
		<p>Development of responsive UIs with React, using common JS packages (HTMX, Swiper, Chart.JS), and Tailwind/Bootstrap </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="server" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>DevOps</h2>
		<p>Networking configuration, Linux-Based distros Administration, setting up tech stacks with Docker, basic CI/CD</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		
		border: 1px solid rgba(255,255,255, 0.25);
		background-color: rgba(30, 31, 48, 0.30);
		box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(15px);
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		font-size: 15px;
		color: var(--gray-100);
	}

	.theme-dark .skills p {
		color: var(--gray-400) !important;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;

		}

		.theme-dark .skills {
			background: #0a0c12;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
