#popup-mermaid-block {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#graph-box-mermaid-block {
  background: #181818;
  padding: 10px;
  border-radius: 8px;
  width: 80vw;
  height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#graph-container-mermaid-block {
  flex: 1;
  overflow: hidden;
  cursor: grab;
  text-align: center;
}

#closeBtn-mermaid-block {
  margin-bottom: 5px;
  align-self: flex-end;
  cursor: pointer;
  border: none;
  background: rgba(0, 0, 0, 0);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

/* bouton = mini carte */
#openGraphBtn-mermaid-block {
  width: 100%;  /* taille mini */
  height: 400px;
  overflow: hidden;
  border: 1px solid #292929;
  border-radius: 8px;
  cursor: pointer;
  background: #1f1f1f;
  padding: 0;
}

#openGraphBtn-mermaid-block svg {
  color: white;
  width: 100%;
  height: 100%;
}